// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";
@import "simplebar/dist/simplebar.css";

// Стили для полноэкранного блока
@import "base/fullscreen";

// Стили для анимаций
@import "base/animations";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

//========================================================================================================================================================

%text_1 {
    font-size: rem($text_fz_2);
    line-height: math.div(19, $text_fz_2);
}

%text_2 {
    font-size: rem($text_fz_3);
    line-height: math.div(18, $text_fz_3);
}

%text_3 {
    font-size: rem($text_fz_1);
    line-height: math.div(22, $text_fz_1);
}

%text_4 {
    font-size: rem($text_fz_1);
    line-height: math.div(34, $text_fz_1);
}
