.header {
    position: fixed;
    top: rem(-100);
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.5s ease 0s;
    @media (min-width: $mobile) {
        background-color: $c_secondary_06;
    }
    @media (max-width: $mobile) {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $c_secondary_06;
            z-index: 10;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(100);
        transition: height 0.5s ease 0s;

        @media (max-width: $tablet) {
            height: rem(80);
        }
        @media (max-width: $mobile) {
            height: rem(60);
        }

        ._scroll & {
            height: rem(60);
        }
    }

    &__logo {
        position: relative;
        z-index: 15;
        flex: 0 0 rem(250);
        img {
            max-width: 100%;
        }

        @media (max-width: $tablet) {
            flex: 0 0 rem(200);
        }
        @media (max-width: $mobile) {
            flex: 0 0 rem(180);
        }
    }

    &__menu {
    }
}

.menu {
    display: flex;
    align-items: center;
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            z-index: 5;
            width: rem(320);
            height: 100%;
            top: 0;
            right: 0;
            background-color: $c_secondary_04;
            padding: rem(90) rem(15) rem(30) rem(15);
            overflow-y: auto;
            overflow-x: hidden;
            transform: translate(100%, 0px);
            transition: transform 0.5s ease;
            border-left: rem(1) solid $c_secondary_02;
            .menu-open & {
                transform: translate(0px, 0px);
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
            border-left: none;
        }
    }

    &__list {
        @media (min-width: $mobile) {
            margin-top: rem(5);
            display: flex;
            align-items: center;
            @include adaptiveValue("column-gap", 60, 20, 1170, 767.98, 1);
        }
    }

    &__item {
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__link {
        font-weight: 600;
        text-transform: uppercase;
        &._active {
            color: $c_primary_01;
        }

        @media (max-width: $mobile) {
            font-size: rem(16);
            display: block;
        }

        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $c_primary_03;
            }
        }
    }

    &__icon {
    }
}

//====================================================================================================

//Burger
.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 15;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        span,
        &::before,
        &::after {
            content: "";
            transition: width 0.5s ease, top 0.5s ease, bottom 0.5s ease, transform 0.5s ease,
                background-color 0.3s ease;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $c_tertiary_01;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                span,
                &::before,
                &::after {
                    background-color: $c_primary_01;
                }
            }
        }
    }
}
