@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato";
$fontSize: rem(13); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$c_primary_01: #43abf0;
$c_primary_02: #42a9ed;
$c_primary_03: #3e9cdc;
$c_primary_04: #286690;

$c_secondary_01: #6f6d7b;
$c_secondary_02: #3d4050;
$c_secondary_03: #2a2b30;
$c_secondary_04: #272733;
$c_secondary_05: #000;
$c_secondary_06: rgba(16, 16, 29, 0.9);
$c_secondary_07: rgba(39, 39, 51, 0.9);
$c_secondary_08: rgba(61, 64, 80, 0.85);

$c_tertiary_01: #fff;
$c_tertiary_02: #e5e5e5;
$c_tertiary_03: #c3c3c3;
$c_tertiary_04: #c4c4c4;
$c_tertiary_05: #bbbbbb;
$c_tertiary_06: rgba(255, 255, 255, 0.85);
$c_tertiary_07: rgba(255, 255, 255, 0.7);

$mainColor: $c_tertiary_01; // Цвет шрифта по умолчанию

//========================================================================================================================================================
// Основные пункты шрифтов
$text_fz_1: 18;
$text_fz_2: 16;
$text_fz_3: 15;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
    @extend %scrollbar;
    background-color: $c_secondary_04;
    &::before {
        content: "";
        z-index: 5;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: background-color 0.5s ease;
    }
    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    .lock.menu-open & {
        &::before {
            pointer-events: all;
            background-color: $c_secondary_06;
        }
    }
    // Сайт загружен
    .loaded & {
        .header {
            top: 0;
        }
    }
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
    @if ($maxWidthContainer>0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
    }
}

//========================================================================================================================================================
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
